{% extends 'base.html' %}
{% load static widget_tweaks custom_filters %}

{% block title %}Tablero de Órdenes{% endblock %}

{% block extra_head_css %}
    <link rel="stylesheet" href="{% static 'css/tablero_ordenes.css' %}"> {# <--- Añade esta línea #}
{% endblock %}

{# No define navbar_right para usar el default (Switch + Lista) #}

{% block content %}
<div class="page-content">
    <div class="page-header">
      <h1 class="page-title"><i class="fas fa-th"></i> Tablero de Órdenes</h1>
    </div>
    <div class="tablero-container" id="tablero-container">
      {% include 'servicios/tablero_parcial.html' %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/tablero_ordenes.js' %}"></script> {# <--- Añade esta línea #}
{% endblock %}